*.sdf
/DemoVideo
Synthesizer.VC.*
Synthesizer.VC.VC.opendb
Synthesizer.VC.db
/source/Synthesizer/UI/_generated
/bin
/lib
/user_data
*.ipch
*.db
build/.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

resources/packaged/config/
resources/packaged/share/glib-2.0/

CMakeLists.txt.user
/build/CMakeCache.txt
build/**/
CMakeScripts
Testing
Makefile
/build/cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps