*.sdf
/DemoVideo
Synthesizer.VC.*
Synthesizer.VC.VC.opendb
Synthesizer.VC.db
/source/Synthesizer/UI/_generated
/build/Intermediate
/bin
/lib
/user_data
/build/x32
/build/x64
*.ipch
*.db
build/.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

CMakeLists.txt.user
/build/CMakeCache.txt
build/**/
CMakeScripts
Testing
Makefile
/build/cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps